REACT_APP_ENV_NAME=testing
REACT_APP_WIDGETS_URL=

# Infura IPFS project ID, used for auth header
REACT_APP_INFURA_IPFS_PROJECT_ID=

# Infura IPFS project secret, used for auth header
REACT_APP_INFURA_IPFS_PROJECT_SECRET=

# A Biconomy API key can be set here, to allow meta transactions in the widgets
REACT_APP_META_TX_API_KEY=

# Comma-separated default list of seller IDs that are shown in the app
REACT_APP_SELLER_CURATION_LIST=

# Comma-separated default list of offer IDs that are shown in the app
REACT_APP_OFFER_CURATION_LIST=

#
REACT_APP_ENABLE_CURATION_LISTS=false

REACT_APP_DEFAULT_TOKENS_LIST_TESTING='[{"symbol":"ETH","name":"Ether","address":"0x0000000000000000000000000000000000000000","decimals":"18"}]'

REACT_APP_RNFT_LICENSE_TEMPLATE=ipfs://QmehHAGwqVQrWR4XLbUKnxAdYYqoqorLSouzwyW6ZJ9Day

REACT_APP_BUYER_SELLER_AGREEMENT_TEMPLATE=ipfs://QmPnaBuT62wbRyXoeLNu6YEiK9PFbkmbeaMLWEJXPwyoyb

# TESTING
REACT_APP_DEFAULT_DISPUTE_RESOLVER_ID=1
# STAGING
# REACT_APP_DEFAULT_DISPUTE_RESOLVER_ID=2

REACT_APP_DEFAULT_RESOLUTION_PERIOD_DAYS=15

REACT_APP_CREATE_PROFILE_CONFIGURATION=LENS
