name: Call reusable workflow - Interface

on:
  push:
    branches:
      - main
  release:
    types: [created]
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow-PR:
    uses: bosonprotocol/interface/.github/workflows/ci_reusable.yaml@main
    if: github.event_name == 'pull_request'
    with:
      REACT_APP_CHAIN_ID: '1234'
      DEPLOY_TO_FLEEK: false
      ENV_NAME: 'testing'
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  call-reusable-workflow-testing:
    uses: bosonprotocol/interface/.github/workflows/ci_reusable.yaml@main
    if: github.event_name == 'push'
    with:
      REACT_APP_CHAIN_ID: '1234'
      DEPLOY_TO_FLEEK: true
      ENV_NAME: 'testing'
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      FLEEK_API_KEY: ${{ secrets.FLEEK_API_KEY }}
  call-reusable-workflow-staging:
    uses: bosonprotocol/interface/.github/workflows/ci_reusable.yaml@main
    if: github.event_name == 'release' && github.event.action == 'created'
    with:
      REACT_APP_CHAIN_ID: '1234'
      DEPLOY_TO_FLEEK: true
      ENV_NAME: 'staging'
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      FLEEK_API_KEY: ${{ secrets.FLEEK_API_KEY }}