name: Build, Test and Deploy the Marketplace Interface - Reusable workflow

on:
  workflow_call:
    inputs:
      REACT_APP_CHAIN_ID:
        required: true
        type: string
      DEPLOY_TO_FLEEK:
        required: true
        type: boolean
      ENV_NAME:
        required: true
        type: string
    secrets:
      NPM_TOKEN:
        required: true
      FLEEK_API_KEY:
        required: false
      CODECOV_TOKEN:
        required: true
    outputs:
      JOB_LINT:
        value: ${{ jobs.build-test-deploy.outputs.jobLint }}
      JOB_BUILD:
        value: ${{ jobs.build-test-deploy.outputs.jobBuild }}
      JOB_COVERAGE:
        value: ${{ jobs.build-test-deploy.outputs.jobCoverage }}
      DEPLOY_URL:
        value: ${{ jobs.build-test-deploy.outputs.deployUrl }}

jobs:
  build-test-deploy:
    name: Build, Test and Deploy the Marketplace Interface
    runs-on: ubuntu-latest
    env:
      REACT_APP_CHAIN_ID: ${{ inputs.REACT_APP_CHAIN_ID }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    outputs:
      jobLint: ${{ steps.lint.outputs.pass }}
      jobBuild: ${{ steps.build.outputs.pass }}
      jobCoverage: ${{ steps.coverage.outputs.pass }}
      deployUrl: ${{ steps.deploy.outputs.deployUrl }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: "17"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - run: npm ci
      - run: npm run prettier
      - run: npm run lint
      - id: lint
        run: echo "::set-output name=pass::success"
      - run: npm run build
      - id: build
        run: echo "::set-output name=pass::success"
      - name: Generate coverage report
        run: npm run coverage:report
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
      - name: Copy contents from .fleek_staging.json to .fleek.json
        if: ${{ inputs.ENV_NAME == 'staging' }}
        run: mv .fleek_staging.json .fleek.json
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
      - name: Deploy via fleek
        if: ${{ inputs.DEPLOY_TO_FLEEK }}
        id: deploy
        uses: fleekhq/action-deploy@v1
        with:
          apiKey: ${{ secrets.FLEEK_API_KEY }}
          workDir: ./public
      - name: Get the output url
        if: ${{ inputs.DEPLOY_TO_FLEEK }}
        run: echo "Deploy url is ${{ steps.deploy.outputs.deployUrl }}"
